body {background-color:#dcdcdc;
		color:#dcdcdc;
		background-repeat: no-repeat;
		 background-image: linear-gradient( to bottom, #101010, #000000);
		font-family: Times New Roman, Helvetica, sans-serif;
		font-size:150%;}
    #wrapper { 
    margin-left: auto;
    margin-right: auto;
    width: 1000%;
    min-width:1000px;
    max-width: 2048px;
    background-color:#101010;
    box-shadow: 3px 3px 3px #333333;
}
header{background-color: #dcdcdc;
    color: #ffffff;
    background-image: url(code.jpg);
    background-repeat: repeat;
    background-position: left;
    line-height: 300px;
    font-size: 155%;
    font-family: Times New Roman, Helvetica, sans-serif;

	   
	}
nav { background-color:#0a0a0a;
	background-position:center;
	  line-height:100px;
	font-weight: bold;
	font-size:100%;
	text-align:left;

	}
h1{
	margin-bottom:0;
       font-family: Georgia, 'Times New Roman', serif; 
	text-indent: 20em;
	font-size: 40px;
	  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align:center;
}
h2 {color:#dcdcdc;
	 font-size: 45px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	 font-family: Times New Roman, 'Times New Roman', serif; 
	}
figure{
    display: inline-block;
}
h3{color:#ffffff; font-family: Georgia, 'Times New Roman', serif; 
}
